<!DOCTYPE html>
<html lang="de">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->



    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">



    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">

</head>

<body>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="mt-3">Alle Rolladen</h4>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-lg" onclick="move(1,2);move(2,2);"><i class="fas fa-arrow-up"></i> Auf</button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="move(1,0);move(2,0);">Stop</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="move(1,1);move(2,1);">Ab <i class="fas fa-arrow-down"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="mt-3">Ostseite</h4>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-lg" onclick="move(1,2);"><i class="fas fa-arrow-up"></i> Auf</button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="move(1,0);">Stop</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="move(1,1);">Ab <i class="fas fa-arrow-down"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="mt-3">Südseite</h4>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary btn-lg" onclick="move(2,2);"><i class="fas fa-arrow-up"></i> Auf</button>
                <button type="button" class="btn btn-secondary btn-lg" onclick="move(2,0);">Stop</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="move(2,1);">Ab <i class="fas fa-arrow-down"></i></button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/shutters.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>


</body>

</html>